<div id="index">

    <div id="articles">
        {{#each article}}
        <div id="container" class="article-content columns" data-id="{{this._id}}">

            <div class="column is-6">
                <div id="title">
                    <strong>{{this.title}}</strong>
                </div>
                <div id="summary">
                    {{summary}}
                </div>
                <div id="link">
                    <a target='_blank' href="{{this.link}}">Get the recipe here</a>
                </div>
            </div>

            <div class="column is-6">
                <a class="button is-medium is-black is-outlined makeNote" data-id="{{this._id}}">Note</a>
                <a class="button is-medium is-black is-outlined saveArticle" data-id="{{this._id}}">Save</a>
                <a class="button is-medium is-black is-outlined deleteArticle" data-id="{{this._id}}">Delete</a>
            </div>

        </div>
        </br>
        {{/each}}
    </div>
</div>
