<div>
    <div class="columns">
        <div class="column">
            <a class="button is-large is-info" href="/scrape" id="scrapeArticles">Scrape Some Articles</a>
        </div>
        <div class="column">
            <a class="button is-large is-info" href="/savedArticles" id="viewSavedArticles">View Saved Articles</a>
        </div>
        <div class="column">
            <a class="button is-large is-info" href="/clear" id="clearDB">Clear Articles</a>
        </div>
    </div>

    </br>
    <div id="notes">
        <div class="modal">
            <div class="modal-content"></div>
            <button class="modal-close is-small" aria-label="close"></button>
        </div>
    </div>
    </br>

    <div id="articles">
        {{#each article}}
        <div id="container" class="article-content" data-id="{{this._id}}">
            <div id="title">
                <strong>{{this.title}}</strong>
            </div>
            <div id="summary">
                {{summary}}
            </div>
            <div id="link">
                <a target='_blank' href="{{this.link}}">Get the recipe here</a>
            </div>
            <button class="makeNote" data-id="{{this._id}}">Note</button>
            <button class="saveArticle" data-id="{{this._id}}">Save</button>
            <button class="deleteArticle" data-id="{{this._id}}">Delete</button>
        </div>
        </br>
        {{/each}}
    </div>
</div>
