<div id="saved">

    <div id="articles">
        {{#each article}}
        <div id="container" class="article-content columns" data-id="{{this._id}}">

            <div class="column is-6">
                <div id="title">
                    <strong>{{this.title}}</strong>
                </div>
                <div id="summary">
                    {{this.summary}}
                </div>
                <div id="link">
                    <a target='_blank' href="{{this.link}}">Get the recipe here</a>
                </div>

                {{#each notes}}
                <div id="notes" class="note-content" data-id="{{this._id}}">
                    <h4>Notes: {{this.body}}</h4>
                </div>
                {{/each}}
            </div>

            <div class="column is-6">
                <a id="showModal" class="button is-medium is-black is-outlined makeNote" data-id="{{this._id}}">Note</a>
                <a class="button is-medium is-black is-outlined deleteArticle" data-id="{{this._id}}">Delete</a>
            </div>

        </div>
        </br>
        {{/each}}
    </div>
</div>
