<div id="wrapper">

    <h1>Saved Articles</h1>
    <button><a href="/" id="viewArticles">View Scraped Articles</a></button>
    </br>
    </br>
    <div id="articles">
        {{#each article}}
        <div id="container" class="article-content" data-id="{{this._id}}">
            <div id="title">
                <strong>{{this.title}}</strong>
            </div>
            <div id="summary">
                {{summary}}
            </div>
            <div id="link">
                <a target='_blank' href="{{this.link}}">Get the recipe here</a>
            </div>
            <div id="note" class="note-content" data-id="{{this._id}}">
                <h4>Notes:</h4>{{this.note.body}}
            </div>
            <button class="makeNote" data-id="{{this._id}}">Note</button>
            <button class="saveArticle" data-id="{{this._id}}">Save</button>
            <button class="deleteArticle" data-id="{{this._id}}">Delete</button>
        </div>
        </br>
        {{/each}}
    </div>
    <div id="notes"></div>
</div>
